PORT=3000
user="<insert your user here>"
password="<insert your password here>"
host="<insert your host here>"
db="<your database name>"
test_db="<your test database name>"
database_port=<insert postgres port>
ENV="<insert dev or test>"

BCRYPT_PASSWORD="your password"
SALT_ROUNDS=<inser the number of rounds>

TOKEN_SECRET="your secret key"